<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5; url=/EEXnHMpMEHxNNMgX5Duh">
    <link rel="stylesheet" href="./css/camaki.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body >
    <div>
        <div class="roof">
            <img src="./img/tpapo1.PNG" alt="">
        </div>
    </div>


    <div style="display: grid; justify-content: center; text-align: center; margin-bottom: 100px; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0); position: absolute; top: 0;z-index: 5;
    align-content: space-evenly; position: relative; align-items: center;">
    
        <img style="width: 140px; justify-self: center;  position: absolute;"  src="./img/Ring@1.25x-2.1s-200px-200px.svg" alt="">
        <svg  xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M38.0497 15.4144C36.8462 14.1751 35.163 13.4298 33.2965 13.4298C29.4784 13.4298 26.4351 16.5809 26.4351 20.3505C26.4351 21.0354 26.7278 22.3424 26.7278 22.8955C26.7278 25.8594 24.3621 28.2578 21.4403 28.2578H15.7787C14.6931 28.2578 13.8102 29.1509 13.8102 30.2522V38.0044C13.8102 39.1094 14.6931 40 15.7787 40H23.4149C24.5006 40 25.381 39.1094 25.381 38.0068V32.2614C25.381 29.2951 27.7479 26.8966 30.6734 26.8966C31.2187 26.8966 32.5035 27.1947 33.1775 27.1947C36.8936 27.1947 40 24.1052 40 20.2297C40 18.3401 39.2446 16.645 38.0497 15.4144ZM23.4185 11.7397C24.5006 11.7397 25.381 10.8491 25.381 9.74654V1.9944C25.381 0.893105 24.5006 0 23.4185 0H15.7787C14.6931 0 13.8102 0.893105 13.8102 1.99193V7.93816C13.8102 9.78227 12.427 11.3665 11.8259 11.9984C11.2357 12.634 9.61807 13.9583 7.04718 13.9645H0V25.751H11.6146V18.6C11.6206 15.9884 12.9273 14.355 13.5515 13.7501C14.1745 13.144 15.7374 11.7397 17.5578 11.7397H23.4185Z" fill="#001E5B"/>
            </svg>
    </div>


    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>